@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jakarta: var(--font-jakrata);
  --font-poppins: var(--font-poppins);
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* upar jane ki distance */
  }
}
@keyframes floatr {
  0%, 100% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(4px); /* upar jane ki distance */
  }
}

.upAndDown {
  animation: float 3s ease-in-out infinite;
}
.downAndUp {
  animation: floatr 3s ease-in-out infinite;
}


  .clip-header {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }

  .clip-box {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 90%);
  }
